
<div class="container">
	<div class="dashboard clear">                 
		<openmrs-breadcrumbs links="vm.links"></openmrs-breadcrumbs>
		<div class="container">
			<div class ="info-section">
				<div class="info-header"><h1><strong><i class="icon-cogs"></i>{{"ConceptDrug.title" | translate}}</strong></h1></div>
				<form name="drugs-list">
					<div class="info-body">		
						<ul>
							<li ng-repeat="drug in vm.drugsList"> 
									<div>										
										<i class="icon-angle-right"></i><div style="display: inline-block">
											<a href="#/drug/{{drug.uuid}}">
											<strong><span ng-show="drug.retired"><del>{{drug.name}}</del></span></strong>
											<strong><span ng-show="!drug.retired">{{drug.name}}</span></strong>
											</a>
											<small>{{drug.strength}}</small>
									</div>				
							</li>
						</ul>	
					</div>
				</form>
				<button ng-click='vm.gotToAddDrugPage("/drug/add")'><i class="icon-plus"></i><strong>&#160;&#160;{{"ConceptDrug.add" | translate}}</strong></button>
				<button ng-show='!vm.retiredOn' ng-click='vm.toggleRetire()'><i class="icon-lock"></i><strong>&#160;&#160;{{"ShowRetired" | translate}}</strong></button>
				<button ng-show='vm.retiredOn' ng-click='vm.toggleRetire()'><i class="icon-lock"></i><strong>&#160;&#160;{{"ShowUnretired" | translate}}</strong></button>
			</div>
		</div>
	</div>
</div>