<openmrs-breadcrumbs links="vm.links"></openmrs-breadcrumbs>
<div id="body-wrapper">
	<label id="content" class="container">
		<h2>Edit Concept Source</h2>
		<delete-alert ng-show="vm.deleteClicked" on-update="vm.updateDeleteConfirmation(isConfirmed)"></delete-alert>
		<form ng-show="!vm.deleteClicked">
			<label>{{"Name" | translate}}<span class="required">*</span></label>
			<input name="name" ng-model="vm.source.name"size="35" type="text" />


			<label>{{"ConceptSource.hl7Code" | translate}}</label>
			<input name="hl7Code" ng-model="vm.source.hl7Code" size="35" maxlength="20" type="text" />

			<label>{{"Description" | translate}}<span class="required">*</span></label>
			<textarea ng-model="vm.source.description" name="description" rows="3" cols="40"></textarea>

			<label ng-show="vm.source.auditInfo">
				<small>{{"CreatedBy" | translate}}&#160;</small>
					{{vm.source.auditInfo.creator.display}} -
					{{vm.source.auditInfo.dateCreated|date:'medium'}}
			</label>

			<label ng-show="vm.source.auditInfo.changedBy">
				<small>{{"ChangedBy" | translate}}&#160;</small>

					{{vm.source.auditInfo.changedBy.display}} -
					{{vm.source.auditInfo.dateChanged|date:'medium'}}

			</label>
			<label ng-show="vm.source.uuid">
				<font color="#D0D0D0"><sub>UUID - </sub></font>
				<font color="#D0D0D0"><sub>{{vm.source.uuid}}</sub></font>
			</label>

			<br/>

			<button ng-disabled="!vm.isSavePossible()" ng-click="vm.save()" ><i class="icon-ok"></i>&#160;{{"ConceptSource.save" | translate}}</button>
			<button ng-click="vm.cancel()" ><i class="icon-remove"></i>&#160;{{"Concept.cancel" | translate}}</button>
			<button ng-click="vm.showAlert()" ng-show="vm.source.uuid"><i class="icon-trash"></i>&#160;{{"DeleteForever" | translate}}</button>

			<br/>

			<div ng-show="vm.source.retired&&vm.source.uuid">
				<h2><i class="icon-reply"></i>{{"Unretire" | translate}}</h2>
				<label>{{"RetiredBy" | translate}}</label>
					<i>{{vm.source.auditInfo.retiredBy.display}} -
					{{"RetiredOn" | translate}} {{vm.source.auditInfo.dateRetired|date: 'medium'}} </i>
				<label>{{"Reason" | translate}}</label>
					<i>{{vm.source.auditInfo.retireReason}}</i>
				<br/>
				<button ng-show="vm.source.retired" ng-click="vm.retire()">
					<i class="icon-reply"></i>&#160;{{"Unretire" | translate}}
				</button>
			</div>

			<div ng-show="!vm.source.retired&&vm.source.uuid">
				<h2><i class="icon-lock"></i>{{"Retire" | translate}}</h2>
				<label>{{"RetireReason" | translate}}<span class="required">*</span></label>
				<textarea ng-model="vm.source.auditInfo.retireReason" rows="3" cols="50"></textarea>
				<button ng-disabled="vm.source.auditInfo.retireReason.length < 1" ng-click="vm.retire()">
					<i class="icon-lock"></i>&#160;Retire
				</button>
			</div>
		</form>
	</div>
</div>