<openmrs-breadcrumbs links="vm.links"></openmrs-breadcrumbs>
<div id="body-wrapper">
	<div id="content" class="container">
		<div ng-show="vm.added" id="success-message" class="note-container">
			<div class="note success">
				<div class="text">
					<i class="icon-info-sign medium"></i>
					<p>&#160;&#160;{{vm.added}}.</p>
				</div>
			</div>
		</div>
		<div class="info-section">
			<div>
				<h2>
					<i class="icon-eye-open"></i>&#160;{{vm.concept.display}}
				</h2>
			</div>
			<div id="content" class="container">
				<form>
					<div>
						<div class="button-group">
							<label class="button localeButtons-repeat"
								ng-repeat="locale in vm.locales" ng-click="vm.goLocale(locale)"
								ng-class="{active: vm.selectedLocale===locale}">
								{{locale}} </label>
						</div>
						<br />
						<fieldset>
							<p>
								<label>{{"Concept.name.localePreferred" | translate}} {{"Concept.name" | translate}}:</label> <i>{{vm.conceptLocale.names.preferredName}}</i>
							</p>
							<p>
								<label ng-click="vm.toggleAllNames()"><a>{{vm.showAllNames ? "Hide" : "Show"}} all names</a></label>
							</p>
							<table ng-show="vm.showAllNames" class="animate-show">
								<thead>
									<tr>
										<th>Name type</th>
										<th>Names</th>
									</tr>
								</thead>
								<tbody>
									<tr>
									<tr class="localeSpecific"
										title="The name to be used on forms, reports etc. in case no preferred name is set for the locale">
										<td>{{"Fully Qualified Name" | translate}}</td>
										<td>{{vm.conceptLocale.names.fullname.display}}</td>
									</tr>


									<tr class="localeSpecific"
										title="Any label or name that refers to a primary concept.">

										<td>{{"Synonyms"| translate}}</td>
										<td><span class="synonym-repeat"
											ng-repeat="synonym in vm.conceptLocale.names.synonyms">
											{{synonym.display}}</br>
										</span></td>
										</td>
									</tr>

									<tr class="localeSpecific"
										title="An index term or phrase that might be used to search for this concept but that is not valid for display purposes or storing in the record (e.g., common misspellings or pragmatic mapping term)">
										<td>{{"Terms" | translate}}</td>
										<td><span class="searchTerm-repeat"
											ng-repeat="searchTerm in vm.conceptLocale.names.searchTerms">
											{{searchTerm.display}} </br></span></td>
									</tr>

									<tr class="localeSpecific"
										title="The text shown in report headers and other places where space is limited">
										<td>{{"Concept.shortName" | translate}}</td>
										<td>{{vm.conceptLocale.names.shortname.display}}</td>
									</tr>
								</tbody>
							</table>

							<p ng-show="vm.conceptLocale.description.display" class="localeSpecific"
								title="Longer body of text used to fully describe this concept and how it is used.">
								<label>{{"Description" | translate}}:</label>
								<i>{{vm.conceptLocale.description.display}}</i>
							</p>
						</fieldset>
					</div>

					<p title="The classification of the medical concept">
						<label>{{"Concept.conceptClass" | translate}}:</label> <i>{{vm.concept.conceptClass.display}}</i>
					</p>

					<p>
						<label>{{"Concept.set" | translate}}:</label> <i
							ng-bind="vm.concept.set"></i>
					</p>



					<p ng-show="vm.concept.set">
						<label>{{"Concept.conceptSets" | translate}}:</label> <i
							ng-if="vm.concept.setMembers.length === 0">{{"Concept.conceptSets.empty"
							| translate}}</i>
					<ul ng-if="vm.concept.setMembers.length !== 0">
						<li class="setMembers-repeat"
							ng-repeat="member in vm.concept.setMembers"
							style="list-style-type: none"><i
							class="icon-double-angle-right"></i> <a
							href="/concept/{{member.uuid}}">{{member.display}}</a></li>
					</ul>

					</p>

					<p
						title="If data is stored within this concept, this describes what it will look like">
						<label>{{"Concept.datatype" | translate}}:</label> <i>{{vm.concept.datatype.display}}</i>
					</p>

					<p ng-show="vm.isCoded">
						<label>{{"Concept.answers"| translate}}:</label> <i
							ng-if="vm.concept.answers.length === 0">{{"Concept.conceptSets.empty"
							| translate}}</i>
					<ul ng-if="vm.concept.answers.length !== 0">
						<li class="answer-repeat" ng-repeat="answer in vm.concept.answers"><i
							class="icon-double-angle-right"></i> <a
							href="#/concept/{{answer.uuid}}">{{answer.display}}</a></li>
					</ul>
					</p>



					<div ng-if="vm.isNumeric">
						<p><label>{{"ConceptNumeric.name" | translate}}:
						<i>({{"ConceptNumeric.inclusive" |
							translate}})</i></label></p>
						<fieldset>
							<p>
								<label>{{"ConceptNumeric.absoluteHigh" |
									translate}}:</label> <i>{{vm.concept.hiAbsolute}}</i>
							</p>
							<p>
								<label>{{"ConceptNumeric.criticalHigh" |
									translate}}:</label> <i>{{vm.concept.hiCritical}}</i>
							</p>
							<p>
								<label>{{"ConceptNumeric.normalHigh" |
									translate}}:</label> <i>{{vm.concept.hiNormal}}</i>
							</p>
							<p>
								<label>{{"ConceptNumeric.normalLow" |
									translate}}:</label> <i>{{vm.concept.lowNormal}}</i>
							</p>
							<p>
								<label>{{"ConceptNumeric.criticalLow" |
									translate}}:</label> <i>{{vm.concept.lowCritical}}</i>
							</p>
							<p>
								<label>{{"ConceptNumeric.absoluteLow" |
									translate}}:</label> <i>{{vm.concept.lowAbsolute}}</i>
							</p>
							<p>
								<label>{{"ConceptNumeric.units" |
									translate}}:</label> <i>{{vm.concept.units}}</i>
							</p>
							<p>
								<label>{{"ConceptNumeric.allowDecimal" |
									translate}}:</label> <i>{{vm.concept.allowDecimal}}</i>
							</p>
						</fieldset>
					</div>

                    <fieldset>
                        <legend>Mappings</legend>
                        <table ng-show="vm.concept.mappings.length > 0">
                            <thead>
                                <tr>
                                    <th>Relationship</th>
                                    <th>Source</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="mapping in vm.concept.mappings">
                                    <td ng-bind="mapping.conceptMapType.display"></td>
                                    <td ng-bind="vm.parseMappingSource(mapping.display)"></td>
                                    <td ng-bind="vm.parseMappingCode(mapping.display)"></td>
                                    <td ng-bind="vm.parseMappingName(mapping.display)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>

					<p ng-show="vm.concept.version"
						title="An optional way for you to keep track of which concepts came before others when changing/updating concepts">
						<label>{{"Version" | translate}}: </label><i>{{vm.concept.version}}</i>
					</p>

					<p title="System generated unique ID">
						<small>UUID: <i>{{vm.concept.uuid}}</i></small>
					</p>
					<p>
						<small>{{"CreatedBy" | translate}}: <i>
							{{vm.concept.auditInfo.creator.display}} -
							{{vm.concept.auditInfo.dateCreated|date:'medium'}}</i></small>
					</p>
					<p>
						<small>{{"ChangedBy" | translate}}: <i>
							{{vm.concept.auditInfo.creator.display}} -
							{{vm.concept.auditInfo.dateChanged|date:'medium'}}</i></small>
					</p>
			</form>
			<br> <a class="button"
				ng-href="#/concept/edit/{{vm.concept.uuid}}"><i
				class="icon-edit"></i>Edit</a>
		</div>
		</div>
	</div>
</div>