<div class="container">
	<div class="dashboard clear">
		<div style="padding-bottom: 8px;">
			<a class="button" href="#/concept/add/"><i class="icon-plus"></i>&#160;{{"New concept" | translate}}</a>
			<a class="button" href="#/concept/"><i class="icon-search"></i>&#160;{{"Search concepts" | translate}}</a>

		</div>
		<div class="info-section">

			<div class="info-header">
				<h1>
					<strong><i class="icon-pencil"></i>{{"Concept.title" | translate}}</strong>
				</h1>
			</div>
			<form method="post" name="concept-edit">
				<table class="info-body">
					<tbody>

						<tr title="System generated unique ID">
							<td>UUID: <strong>{{vm.concept.uuid}}</strong>
							</td>
						</tr>


						<tr>
							<td>
								<div class="info-section">
									<div class="info-header"
										title="The locale in which the concept name belongs">
										<strong>{{"Locale" | translate}}:&#160;&#160;</strong> <a class="button"
											ng-repeat="locale in vm.locales"
											ng-click='vm.goLocale(locale)'><small>{{locale}}</small></a>
									</div>
									<div class="info-column-body">
										<ul>
											<li class="localeSpecific"
												title="The name to be used on forms, reports etc. in case no preferred name is set for the locale">
												{{"Display" | translate}}: <strong>{{vm.conceptLocale.names.full}}</strong>
											</li>


											<li class="localeSpecific"
												ng-show="vm.conceptLocale.names.synonyms.length>0">
												<div
													title="Any label or name that refers to a primary concept.">Synonyms:</div>
												<strong>
													<div class="synonym-repeat"
														ng-repeat="synonym in vm.conceptLocale.names.synonyms">
														<i class="icon-double-angle-right"></i>{{synonym}}
													</div>
											</strong>
											</li>

											<li class="localeSpecific"
												ng-show="vm.conceptLocale.names.searchTerms.length>0">
												<div
													title="An index term or phrase that might be used to search for this concept but that is not valid for display purposes or storing in the record (e.g., common misspellings or pragmatic mapping term)">Search
													{{"Terms" | translate}}:</div> <strong>
													<div class="searchTerm-repeat"
														ng-repeat="searchTerm in vm.conceptLocale.names.searchTerms">
														<i class="icon-double-angle-right"></i>{{searchTerm}}
													</div>
											</strong>
											</li>
											<li class="localeSpecific"
												title="The text shown in report headers and other places where space is limited">
												{{"Concept.shortName" | translate}}: <strong class="en">{{vm.conceptLocale.names.short}}</strong>
											</li>

											<li class="localeSpecific"
												title="Longer body of text used to fully describe this concept and how it is used.">
												{{"Description" | translate}}: <strong valign="top">{{vm.conceptLocale.description}}
											</strong>

											</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
						<tr title="The classification of the medical concept">
							<td>{{"Concept.conceptClass" | translate}}: <strong valign="top">
									{{vm.concept.conceptClass.display}} </strong>
							</td>
						</tr>

						<tr>
							<td ng-show="vm.concept.set">
								<div>{{"Concept.conceptSets" | translate}}:</div>
								<ul>
									<li class="setMembers-repeat"
										ng-repeat="member in vm.concept.setMembers"
										style="list-style-type: none">
									    <i class="icon-double-angle-right"></i>
										<a href="/concept/{{member.uuid}}">{{member.display}}</a>
									</li>
								</ul>
							</td>
						</tr>


						<tr
							title="If data is stored within this concept, this describes what it will look like">
							<td>{{"Concept.datatype" | translate}}: <strong valign="top">
									{{vm.concept.datatype.display}} </strong>
							</td>
						</tr>


						<tr>
							<td ng-show="vm.isCoded">{{"Concept.answers" | translate}}:
								<div>
									<ul>
										<li class="synonym-repeat"
											ng-repeat="answer in vm.concept.answers"><i
											class="icon-double-angle-right"></i>
											<a href="#/concept/{{answer.uuid}}">{{answer.display}}</a></li>											
									</ul>
								</div>
							</td>
						</tr>

						<tr
							title="An optional way for you to keep track of which concepts came before others when changing/updating concepts">
							<td>{{"Version" | translate}}: <strong> {{vm.concept.version}} </strong>
							</td>
						</tr>

						<tr>
							<td ng-show="vm.isNumeric" class="ng-hide">
								<div class="info-header">
									<strong>{{"ConceptNumeric.name" | translate}}</strong>
									<small><em>({{"ConceptNumeric.inclusive" | translate}})</em></small>
								</div>
								<table class="info-body">

									<tr>
										<td valign="middle">{{"ConceptNumeric.absoluteHigh" | translate}}</td>
										<td valign="middle">{{vm.concept.hiAbsolute}}</td>

									</tr>
									<tr>
										<td valign="middle">{{"ConceptNumeric.criticalHigh" | translate}}</td>
										<td valign="middle">{{vm.concept.hiCritical}}</td>
									</tr>
									<tr>
										<td valign="middle">{{"ConceptNumeric.normalHigh" | translate}}</td>
										<td valign="middle">{{vm.concept.hiNormal}}</td>
									</tr>
									<tr>
										<td valign="middle">{{"ConceptNumeric.normalLow" | translate}}</td>
										<td valign="middle">{{vm.concept.lowNormal}}</td>
									</tr>
									<tr>
										<td valign="middle">{{"ConceptNumeric.criticalLow" | translate}}</td>
										<td valign="middle">{{vm.concept.lowCritical}}</td>
									</tr>
									<tr>
										<td valign="middle">{{"ConceptNumeric.absoluteLow" | translate}}</td>
										<td valign="middle">{{vm.concept.lowAbsolute}}</td>
									</tr>
									<tr>
										<td>{{"ConceptNumeric.units" | translate}}</td>
										<td colspan="2">{{vm.concept.units}}</td>
									</tr>
									<tr>
										<td>{{"ConceptNumeric.allowDecimal" | translate}}</td>
										<td colspan="2">{{vm.concept.allowDecimal}}</td>
									</tr>

								</table>
							</td>
						</tr>
						<tr>
							<td><small valign="top">{{"CreatedBy" | translate}}:</small> <strong>
									{{vm.concept.auditInfo.creator.display}} -
									{{vm.concept.auditInfo.dateCreated|date:'medium'}} </strong></td>
						</tr>
						<tr>
							<td><small valign="top">{{"ChangedBy" | translate}}:</small> <strong>
									{{vm.concept.auditInfo.creator.display}} -
									{{vm.concept.auditInfo.dateChanged|date:'medium'}} </strong></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>