<openmrs-breadcrumbs links="vm.links"></openmrs-breadcrumbs>
<div id="body-wrapper">
	<div id="content" class="container">
		<form>
			<p>
				<label>
					{{"Name" | translate}}
				</label>
				<i>{{vm.singleDataType.name}}</i>
			</p>
			<p>
				<label>{{"Description" | translate}}</label>
				<i>{{vm.singleDataType.description}}</i>
			</p>
			<p>
				<label>{{"ConceptDatatype.hl7abbreviation" | translate}}</label>
				<i>{{vm.singleDataType.hl7Abbreviation}}</i>
			</p>
			<p>
				<label>UUID</label>
				<i>{{vm.singleDataType.uuid}}</i>
			</p>
			<p>
				<label>{{"CreatedBy" | translate}}</label>
				<i>{{vm.singleDataType.auditInfo.creator.display}} -
					{{vm.singleDataType.auditInfo.dateCreated | date:'medium'}}</i>
			</p>
		</form>
	</div>
</div>