<div>
<h2>Concept Class Management</h2>
	<h3 ng-show="classAdded">{{classAdded}} has been added.</h3>
<form method="post" class="box">
	<button ng-click='go("/class-list/add-class")'>Add Concept Class</button>
	<table>
		<tbody><tr>
			<th> </th>
			<th> Name </th>
			<th> Description </th>
		</tr>
		
			<tr ng-repeat="class in classes"> 
				<td valign="top"><input type="checkbox" ng-model="selected[class.uuid]" name="conceptClassId" value="{{class.uuid}}"></td>
				<td valign="top">
					<a href="#/class-list/{{class.uuid}}">{{class.name}}</a>				
				</td>
				<td valign="top">{{class.description}}</td>
			</tr>
		
	</tbody></table>	
	
	<input type="submit" value="Delete Selected Concept Classes" ng-click="deleteSelected()">
</form>
</div>