<div class="container">
	<div class="dashboard clear">
		<div class="container">
			<div class ="info-section">
				<div class="info-header"><h1><strong><i class="icon-edit"></i>Concept Class Form</strong></h1></div>	
				<form method="post" name="class-edit">
					<div class="info-body">		
							
							<div>Name<span class="required">*</span>
								<input type="text" name="name" size="35" ng-model="vm.singleClass.name" ng-required="true">
							</div>
							
							<div>Description
								<textarea name="description" rows="3" cols="40" ng-model="vm.singleClass.description"></textarea>
							</div>
							
							<div>
								Created By:&#160;&#160;{{vm.singleClass.auditInfo.creator.display}} - {{vm.singleClass.auditInfo.dateCreated | date:'medium'}}
							</div>
							
							<div>		
								<p><font color="#D0D0D0"><sub>UUID:&#160;&#160;</sub></font></p>	
								<font color="#D0D0D0"><sub>{{vm.singleClass.uuid}}</sub></font>
							</div>
							
					</div>
					<div>
					
						<a class="button" type="submit" ng-disabled="classForm.$invalid" ng-click="vm.editClass()"><i class="icon-ok"></i><strong>&#160;Save Concept Class</strong></a>
						<a class="button" type="submit" ng-click="vm.cancel()"><i class="icon-remove"></i><strong>&#160;Cancel</strong></a>
				
					</div>
				</form>
			</div>
		</div>
	</div>
</div>