<div>
    <h2>Concept Stop Word Management</h2>
    <h3 ng-show="vm.conceptStopWordAdded">{{vm.conceptStopWordAdded}} has been saved.</h3>
    <form method="post" class="box" name="conceptstopword-list">
        <button ng-click='vm.goTo("/conceptstopword-list/conceptstopword-add")'>Add Concept Class</button>
        <table>
            <tbody><tr>
                <th> </th>
                <th> Name </th>
                <th> Locale </th>
            </tr>
            <tr ng-repeat="conceptStopWord in vm.conceptStopWords" >
                <td valign="top"><input type="checkbox" ng-change="vm.refreshButtonState()" ng-model="vm.selected[conceptStopWord.uuid]" name="conceptStopWordId" value="{{conceptStopWord.uuid}}"></td>
                <td valign="top">
                    {{conceptStopWord.display}}
                </td>
                <td valign="top">{{conceptStopWord.locale}}</td>
            </tr>
            </tbody>
        </table>

        <input type="submit" value="Delete Selected Concept Stop Words" ng-disabled="!(vm.isSelected)" ng-click="vm.deleteSelected()">
    </form>
</div>