<div>
			<div style="padding-bottom: 8px;">
					<button ng-click=''>New</button> | 
					<button ng-click=''>Edit</button> 
			</div>
	<table id="conceptTable" cellpadding="2" cellspacing="0">
		<tbody><tr>

		</tr>
		<tr>
			<th title="System generated unique ID">UUID</th>
			<td>{{vm.concept.uuid}}</td>
		</tr>
		<tr>
			<th title="The locale in which the concept name belongs ">Locale</th>
			<td style="padding-bottom: 2px; padding-left: 2px;">
				
					<button class="localeButtons-repeat" ng-repeat="locale in vm.locales" ng-click='vm.goLocale(locale)'>{{locale}}</button> 

		</tr>
		<tr class="localeSpecific">
			<th title="The name to be used on forms, reports etc. in case no preferred name is set for the locale">
				Display
			</th>
				<td>{{vm.conceptLocale.names.full}}</td>
		</tr>
		<tr class="localeSpecific">
			<th title="Any label or name that refers to a primary concept." valign="top">Synonyms</th>
				<td>
				
					    <li class="synonym-repeat" ng-repeat="synonym in vm.conceptLocale.names.synonyms" style="list-style-type:none">
					    	{{synonym}}
    					</li>
				</td>
				</td>
		</tr>
		<tr class="localeSpecific">
			<th title="An index term or phrase that might be used to search for this concept but that is not valid for display purposes or storing in the record (e.g., common misspellings or pragmatic mapping term)" valign="top">Search Terms</th>
				<td class="en">
					<li class="searchTerm-repeat" ng-repeat="searchTerm in vm.conceptLocale.names.searchTerms" style="list-style-type:none">
					    	{{searchTerm}}
    					</li>
				</td>
		</tr>
		<tr class="localeSpecific">
			<th title="The text shown in report headers and other places where space is limited">
				Short Name
			</th>
				<td class="en">{{vm.conceptLocale.names.short}}</td>
		</tr>
		
		<tr class="localeSpecific">
			<th title="Longer body of text used to fully describe this concept and how it is used." valign="top">
				Description
			</th>
				<td valign="top">
					{{vm.conceptLocale.description}}
				</td>
			
		</tr>
		<tr>
			<th title="The classification of the medical concept">
				Class
			</th>
			<td valign="top">
				{{vm.concept.conceptClass.display}}
			</td>
		</tr>
		
		<tr>
			<th title="If data is stored within this concept, this describes what it will look like">
				Datatype
			</th>
			<td valign="top">
				{{vm.concept.datatype.display}}
			</td>
		</tr>
		<tr ng-show = "vm.isCoded" class="ng-hide">
			<th valign="top">Answers</th>
				<td>
					    <li class="synonym-repeat" ng-repeat="answer in vm.concept.answers" style="list-style-type:none">
					    	<button ng-click="goTo('/concept/'+answer.uuid)">{{answer.display}}</button>
    					</li>
				</td>
				</td>
		</tr>
		<tr>
			<th title="An optional way for you to keep track of which concepts came before others when changing/updating concepts">Version</th>
			<td>
				{{vm.concept.version}}
			</td>
		</tr>
		<tr ng-show = "vm.isNumeric" class="ng-hide">
				<th valign="top">Numeric </th>
				<td>
					<table>
						<tbody>
						<tr>
							<th valign="middle">Absolute High</th>
							<td valign="middle">{{vm.concept.hiAbsolute}}</td>
						</tr>
						<tr>
							<th valign="middle">Critical High</th>
							<td valign="middle">{{vm.concept.hiCritical}}</td>
						</tr>
						<tr>
							<th valign="middle">Normal High</th>
							<td valign="middle">{{vm.concept.hiNormal}}</td>
						</tr>
						<tr>
							<th valign="middle">Normal Low</th>
							<td valign="middle">{{vm.concept.lowNormal}}</td>
						</tr>
						<tr>
							<th valign="middle">Critical Low</th>
							<td valign="middle">{{vm.concept.lowCritical}}</td>
						</tr>
						<tr>
							<th valign="middle">Absolute Low</th>
							<td valign="middle">{{vm.concept.lowAbsolute}}</td>
						</tr>
						<tr>
							<td></td>
							<td colspan="2"><small><em>(range values are inclusive)</em></small>
							</td>
						</tr>
						<tr>
							<th>Units</th>
							<td colspan="2">{{vm.concept.units}}</td>
						</tr>
						<tr>
							<th>Allow Decimal?</th>
							<td colspan="2">
								{{vm.concept.allowDecimal}}
							</td>
						</tr>
						<tr>
						
						</tr>
					</tbody></table>
				</td>
				</tr>
			<tr>
				<th valign="top">Created By</th>
				<td>
					{{vm.concept.auditInfo.creator.display}} -
					{{vm.concept.auditInfo.dateCreated|date:'medium'}}
				</td>
			</tr>
			<tr>
				<th valign="top">Changed By</th>
				<td>
					{{vm.concept.auditInfo.creator.display}} -
					{{vm.concept.auditInfo.dateChanged|date:'medium'}}
				</td>
			</tr>
		<tr><td colspan="2"><br></td></tr>
	</tbody></table>
</div>