<div class="container">
	<div class="dashboard clear">
		<div style="padding-bottom: 8px;">
			<a class="button" ng-click='vm.goTo("/concept/add/")'>New</a>
		</div>
		<div class ="info-section">
			<div class="info-header"><h1><strong><i class="icon-edit"></i>Concept Form</strong></h1></div>	
			<form method="post" name="concept-edit">
				<div class="info-body">
		<div title="System generated unique ID">
			<small >UUID</small>
			<strong>{{vm.concept.uuid}}</strong>
		</div>
        <br>
        <ul>
		<div>
			<div class ="info-container-column">
				<div class="info-header" title="The locale in which the concept name belongs ">
					<strong>Locale:&#160;&#160;</strong>
					<a class="button" ng-repeat="locale in vm.locales" ng-click='vm.goLocale(locale)'><small>{{locale}}</small></a>
				</div>	
					<form method="post" name="concept-edit">
						<div class="info-body">
							
								<li class="localeSpecific" title="The name to be used on forms, reports etc. in case no preferred name is set for the locale">
										<small>Display</small>
										<strong>{{vm.conceptLocale.names.full}}</strong>
								</li>


								<li class="localeSpecific" ng-show="vm.conceptLocale.names.synonyms.length>0">
									<div class="info-header" title="Any label or name that refers to a primary concept.">Synonyms</div>
										<strong>
											    <li class="synonym-repeat" ng-repeat="synonym in vm.conceptLocale.names.synonyms">
											    	<i class="icon-angle-right"></i>{{synonym}}
						    					</li>
										</strong>
								</li>
								
								<li class="localeSpecific" ng-show="vm.conceptLocale.names.searchTerms.length>0">
									<div class="info-header" title="An index term or phrase that might be used to search for this concept but that is not valid for display purposes or storing in the record (e.g., common misspellings or pragmatic mapping term)">Search Terms</div>
										<strong>
											<li class="searchTerm-repeat" ng-repeat="searchTerm in vm.conceptLocale.names.searchTerms">
											    	<i class="icon-angle-right"></i>{{searchTerm}}
						    					</li>
										</strong>
								</li>
								<div class="localeSpecific">
									<small title="The text shown in report headers and other places where space is limited">
										Short Name
									</small>
										<strong class="en">{{vm.conceptLocale.names.short}}</strong>
								</div>
								
								<div class="localeSpecific">
									<small title="Longer body of text used to fully describe this concept and how it is used." valign="top">
										Description
									</small>
										<strong valign="top">
											{{vm.conceptLocale.description}}
										</strong>
									
								</div>
						</div>
					</div>
				</div>

		<div>
			<small title="The classification of the medical concept">
				Class
			</small>
			<strong valign="top">
				{{vm.concept.conceptClass.display}}
			</td>
		</tr>
		<tr ng-show = "vm.concept.set">
			<th valign="top">Set Members</th>
				<td>
					    <li class="setMembers-repeat" ng-repeat="member in vm.concept.setMembers" style="list-style-type:none">
					    	<button ng-click="vm.goTo('/concept/'+member.uuid)">{{member.display}}</button>
    					</li>
				</td>
				</td>
		</tr>

			</strong>
		</div>

		
		<div>
			<small title="If data is stored within this concept, this describes what it will look like">
				Datatype
			</small>
			<strong valign="top">
				{{vm.concept.datatype.display}}

			</td>
		</tr>
		<tr ng-show = "vm.isCoded" class="ng-hide">
			<th valign="top">Answers</th>
				<td>
					    <li class="synonym-repeat" ng-repeat="answer in vm.concept.answers" style="list-style-type:none">
					    	<button ng-click="vm.goTo('/concept/'+answer.uuid)">{{answer.display}}</button>

			</strong>
		</div>
		<div ng-show = "vm.isCoded" class="ng-hide">
			<div class="info-header"><strong>Answers</strong></div>
				<div class="info-body">
					    <li class="synonym-repeat" ng-repeat="answer in vm.concept.answers">
					    	<i class="icon-angle-right"></i><a href="#/concept/{{answer.uuid}}">{{answer.display}}</a>
    					</li>
				</div>
		</div>
		<div>
			<small title="An optional way for you to keep track of which concepts came before others when changing/updating concepts">Version</small>
			<strong>
				{{vm.concept.version}}
			</strong>
		</div>
		<br>
		<li ng-show = "vm.isNumeric" class="ng-hide">
				<div class="info-header"><strong>Numeric</strong> <small><em>(range values are inclusive)</em></small></div>
					<div class = "info-body">
						<div>
							<small valign="middle">Absolute High</small>
							<strong valign="middle">{{vm.concept.hiAbsolute}}</strong>
						</div>
						<div>
							<small valign="middle">Critical High</small>
							<strong valign="middle">{{vm.concept.hiCritical}}</strong>
						</div>
						<div>
							<small valign="middle">Normal High</small>
							<strong valign="middle">{{vm.concept.hiNormal}}</strong>
						</div>
						<div>
							<small valign="middle">Normal Low</small>
							<strong valign="middle">{{vm.concept.lowNormal}}</strong>
						</div>
						<div>
							<small valign="middle">Critical Low</small>
							<strong valign="middle">{{vm.concept.lowCritical}}</strong>
						</div>
						<div>
							<small valign="middle">Absolute Low</small>
							<strong valign="middle">{{vm.concept.lowAbsolute}}</strong>
						</div>
						<div>
							<small>Units</small>
							<strong colspan="2">{{vm.concept.units}}</strong>
						</div>
						<div>
							<small>Allow Decimal?</small>
							<strong colspan="2">
								{{vm.concept.allowDecimal}}
							</strong>
						</div>
						<div>
						
						</div>
					</div>
				</li>
			<div>
				<small valign="top">Created By</small>
				<strong>
					{{vm.concept.auditInfo.creator.display}} -
					{{vm.concept.auditInfo.dateCreated|date:'medium'}}
				</strong>
			</div>
			<div>
				<small valign="top">Changed By</small>
				<strong>
					{{vm.concept.auditInfo.creator.display}} -
					{{vm.concept.auditInfo.dateChanged|date:'medium'}}
				</strong>
			</div>
	</div>
   </ul>
</form>
</div>

