<div class="container">
	<div class="dashboard clear">
		<div class ="info-section">
			<div class="info-header">
				<h1><strong><i class="icon-cogs"></i>Concept Datatype Management</strong></h1>
				<div id="conceptDatatypeListReadOnly"><small>(Read Only)</small></div>
			</div>
			<div class="info-body">
				<ul>
					<li ng-repeat="dataType in vm.dataTypes">				
						<div>
							<i class="icon-angle-right"></i><a href="#/datatype-list/{{dataType.uuid}}"><strong>{{dataType.display}}&#160;&#160;</strong></a><small>{{dataType.description}}</small>
						</div>
					</li>	
				</ul>	
			</div>
		</div>
	</div>
</div>