<div class="container">
	<div class="dashboard clear">
		<div class ="info-section">
			<div class="info-header"><h1><strong><i class="icon-plus"></i>Concept Drug Form</strong></h1></div>	
			<form name="drug-add">
				<div class="info-body">	
					<ul>
						<li><div>Name<p class=left><input type="text" ng-model='vm.name'></div></li>	
						<li>
							
								Concept<span class="required">*</span>
								<p class=left><concept-auto-complete required='true'	limit-to-drugs='vm.limitToDrugs' concept='vm.concept' on-update='vm.updateConcept(isCorrect, concept)'></concept-auto-complete>
								</p>
						</li>	
						<li>
							Combination<p class='left'><input type="checkbox" ng-model='vm.combination'></p>
						</li>	
						<li>
						
								Dosage Form
								<p class=left><concept-auto-complete	required='false' concept='vm.dosageForm' limit-to-drugs='false' on-update='vm.updateDosageForm(isCorrect, concept)'></concept-auto-complete>
								</p>
						</li>	
						<li>
							Strength<p class=left><input type="text" ng-model='vm.strength'></p>
						</li>	
						<li>Minimum Dose<p class=left><input type="text" ng-model='vm.minimumDailyDose'></p></li>	
						<li>Maximum Dose<p class=left><input type="text" ng-model='vm.maximumDailyDose'></p></li>
						<li>
							
								Route
								<p class=left><concept-auto-complete	required='false' concept='vm.route' limit-to-drugs='false' on-update='vm.updateRoute(isCorrect, concept)'></concept-auto-complete>
								</p>
						</li>
						<li>Drug Ingredients</li>
					</ul>
				</div>			
				<div>				
				<button ng-click='vm.saveDrug()' ng-disabled="vm.isCorrect()"><i class="icon-ok"></i><strong>Save</strong></button>
				<button ng-click='vm.redirectToList()'><i class="icon-remove"></i><strong>Cancel</strong></button>
				</div>	
			</form>
		</div>
	</div>
</div>