<div>
	<h2>Concept Drug Management</h2>
	<h3>{{vm.responseMessage}}</h3>
	<form name='drugForm'>
	<fieldset>
	<table cellpadding="3" cellspacing="0" id="table">
		<tbody>
		<tr>
			<th>Name</th>
			<td>							
					<input type="text" ng-model='vm.name'>				
			</td>
		</tr>
		<tr>
			<th>Concept<span class="required">*</span></th>
			<td>
				<concept-auto-complete required='true'	limit-to-drugs='vm.limitToDrugs' concept='vm.concept' on-update='vm.updateConcept(isCorrect, concept)'></concept-auto-complete>
		</td>
		</tr>
		<tr>
			<th>Combination</th>
			<td>					
				<input type="checkbox" ng-model='vm.combination'>
			</td>
		</tr>
		<tr>
			<th>Dosage Form</th>
			<td>
				<concept-auto-complete	required='false' concept='vm.dosageForm' limit-to-drugs='false' on-update='vm.updateDosageForm(isCorrect, concept)'></concept-auto-complete>
			</td>
		</tr>
		<tr>
			<th>Strength</th>
			<td>
				<input type="text" ng-model='vm.strength'>
			</td>
		</tr>
		<tr>
			<th>Minimum Dose</th>
			<td>	
				<input type="text" ng-model='vm.minimumDailyDose'>
			</td>
		</tr>
		<tr>
			<th>Maximum Dose</th>
			<td>
				<input type="text" ng-model='vm.maximumDailyDose'>
		</td>
		</tr>
		<tr>
			<th>Route</th>
			<td>
				<concept-auto-complete	required='false' concept='vm.route' limit-to-drugs='false' on-update='vm.updateRoute(isCorrect, concept)'></concept-auto-complete>
			</td>
		</tr>
		<tr>
			<th>Drug Ingredients</th>
			<td>
				<table cellpadding="3" cellspacing="0">
			</table>
		</td>
		</tr>
	 	<tr>
   		</tr>
	</tbody></table>
	<br>
	<input type="hidden" name="phrase" value="">
	<button ng-click='vm.saveDrug()' ng-disabled="vm.isCorrect()">Save Concept Drug</button>
	<button ng-click='vm.redirectToList()'>Cancel</button>
	</fieldset>
	</form>
</div>