<div id="body-wrapper">
    <div id="content">
        <h6><i class="icon-book">&nbsp;</i>Concepts</h6>
        <ul id="menu">
            <li>
                <a href="#/concept-search">
                    Manage Concepts
                </a>
            </li>
            <li>
                <a href="#/class">
                    Manage Concept Classes
                </a>
            </li>
            <li>
                <a href="#/reference-search">
                    Manage Concept Reference Terms
                </a>
            </li>
            <li>
                <a href="#/source-list">
                    Manage Concept Sources
                </a>
            </li>

            <li class="active">
                <a href="#/datatype-list">
                    Manage Concept Datatypes
                </a>
            </li>
            <li>
                <a href="#/conceptstopword-list">
                    Manage Concept Stop Words
                </a>
            </li>
            <li>
                <a href="#/drugs-list">
                    Manage Concept Drugs
                </a>
            </li>
        </ul>
    </div>
</div>