<div class="dashboard clear">
    <div class="info-body">
        <ul id="menu">
            <li>
                <a href="#/concept-search">
                    <h2>View Concept Dictionary</h2>
                </a>
            </li>
            <li>
                <a href="#/class-list">
                    <h2>Manage Concept Classes</h2>
                </a>
            </li>
            <li>
                <a href="#/reference-search">
                    <h2>Manage Concept Reference Terms</h2>
                </a>
            </li>
            <li>
                <a href="#/source-list">
                    <h2>Manage Concept Sources</h2>
                </a>
            </li>

            <li class="active">
                <a href="#/datatype-list">
                    <h2>Manage Concept Datatypes</h2>
                </a>
            </li>
            <li>
                <a href="#/conceptstopword-list">
                    <h2>Manage Concept Stop Words</h2>
                </a>
            </li>
        </ul>
    </div>
</div>