<div>
    <h2>Concept Sources Management</h2>
    <h3 ng-show="vm.sourceAdded">{{vm.sourceAdded}} has been saved.</h3>
    <h3 ng-show="vm.sourceDeleted">{{vm.sourceDeleted}} has been deleted.</h3>
    <form method="post" class="box" name="source-list">
        <button ng-click='vm.goTo("/source-list/add-source")'>Add Concept Source</button>
        <table border="solid">
            <tbody><tr>
                <th>Name</th>
                <th>HL7 Code</th>
                <th>Description</th>
            </tr>
            <tr ng-repeat="source in vm.sources" >
                <td valign="top">
                    <a href="#/source-list/{{source.uuid}}">
                        <span ng-show="source.retired"><del>{{source.name}}</del></span>
                        <span ng-show="!source.retired">{{source.name}}</span>
                    </a>
                </td>
                <td valign="top">{{source.hl7Code}}</td>
                <td valign="top">{{source.description}}</td>
            </tr>
            </tbody>
        </table>
    </form>
</div>