<div class="dashboard clear" xmlns="http://www.w3.org/1999/html">

    <div class=info-section">

        <div class="info-header">
            <h3 ng-show="vm.conceptStopWordAdded">{{vm.conceptStopWordAdded}} has been saved.</h3>
            <strong>
                <h1><i class="icon-cogs"></i>Concept Stop Word Management</h1>
            </strong>
        </div>

        <div class="info-body">

            <ul>
                <li ng-repeat="conceptStopWord in vm.conceptStopWords">
                    <i class="icon-angle-right"></i>
                    <input type="checkbox" ng-change="vm.refreshButtonState()" ng-model="vm.selected[conceptStopWord.uuid]"
                           name="conceptStopWordId" value="{{conceptStopWord.uuid}}">
                    {{conceptStopWord.display}}
                    <span style="color: #D0D0D0; ">({{conceptStopWord.locale}})</span>
                </li>
            </ul>
        </div>
    </div>

    <button ng-click='vm.goTo("/conceptstopword/add")'>
        <i class="icon-plus"></i>
        <strong>&#160;Add</strong>
    </button>
    <button value="" ng-disabled="!(vm.isSelected)" ng-click="vm.deleteSelected()">
        <i class="icon-remove"></i>
        <strong>&#160;Delete</strong>
    </button>

</div>
