<openmrs-breadcrumbs links="vm.links"></openmrs-breadcrumbs>
<div id="body-wrapper">
    <div id="content" class="container">

        <button ng-click='vm.goTo("/conceptstopword/add")'>
            {{"ConceptStopWord.add" | translate}}
        </button>

        <br/><br/>

        <table>
            <thead>
                <tr>
                    <th>Word</th>
                    <th>Locale</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="word in vm.conceptStopWords">
                    <td>{{word.display}}</td>
                    <td>{{word.locale}}</td>
                    <td>
                        <a ng-click="vm.purge(word)">
                            <i class="icon-trash delete-action right" title="Delete forever"></i>
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
