<openmrs-breadcrumbs links="vm.links"></openmrs-breadcrumbs>
<div id="body-wrapper">
	<div id="content" class="container">
		<h2>Edit Concept Class</h2>
		<form name="classEdit">
			<div class="info-body">

					<div>{{"Name" | translate}}
						<span class="required">*</span>
						<input type="text" name="name" ng-model="vm.singleClass.name" ng-required="true">
					</div>

					<div>{{"Description" | translate}}
						<textarea name="description" rows="3" cols="40" ng-model="vm.singleClass.description"></textarea>
					</div>

					<div ng-show="vm.singleClass.auditInfo.creator">
						{{"CreatedBy" | translate}}:&#160;&#160;{{vm.singleClass.auditInfo.creator.display}} - {{vm.singleClass.auditInfo.dateCreated | date:'medium'}}
					</div>

					<div ng-show="vm.singleClass.uuid">
						<font color="#D0D0D0"><sub>UUID:&#160;&#160;</sub></font>
						<font color="#D0D0D0"><sub>{{vm.singleClass.uuid}}</sub></font>
					</div>

			</div>

			<div ng-show="vm.isError" id="error-message" class="note-container">
				<div class="note error">
					<div class="text">
						<i class="icon-ok medium"></i>
						<p>&#160;&#160;{{vm.responseMessage}}</p>
					</div>
				</div>
			</div>

			<div>

				<button ng-disabled="classEdit.$invalid" ng-click="vm.editClass()">
					<i class="icon-ok"></i>
					{{"ConceptClass.save" | translate}}
				</button>
				<button ng-click="vm.cancel()">
					<i class="icon-remove"></i>
					{{"Concept.cancel" | translate}}
				</button>
			</div>
			<div ng-show="vm.singleClass.retired&&vm.singleClass.uuid">
				<h2><i class="icon-reply"></i>{{"Unretire" | translate}}</h2>
				<p>
					<label>{{"RetiredBy" | translate}}</label>
					<i>{{vm.singleClass.auditInfo.retiredBy.display}} -
					{{"RetiredOn" | translate}} {{vm.singleClass.auditInfo.dateRetired|date: 'medium'}} </i>
					<label>{{"Reason" | translate}}</label>
					<i>{{vm.singleClass.auditInfo.retireReason}}</i>
				</p>
					<button ng-show="vm.singleClass.retired" ng-click="vm.unretire()">
					<i class="icon-reply"></i>&#160;{{"Unretire" | translate}}
				</button>
			</div>
			<div ng-show="!vm.singleClass.retired&&vm.singleClass.uuid">
				<h2><i class="icon-lock"></i>{{"Retire" | translate}}</h2>
				<label>{{"RetireReason" | translate}}<span class="required">*</span></label>
				<textarea ng-model="vm.singleClass.auditInfo.retireReason" rows="3" cols="50"></textarea>
				<button ng-disabled="vm.singleClass.auditInfo.retireReason.length < 1" ng-click="vm.retire()">
					<i class="icon-lock"></i>&#160;Retire
				</button>
			</div>
		</form>
	</div>
</div>