<openmrs-breadcrumbs links="vm.links"></openmrs-breadcrumbs>
<div id="body-wrapper">
	<div id="content" class="container">
		<h2>Edit Concept Class</h2>
		<form method="post" name="class-edit">
			<div class="info-body">

					<div>{{"Name" | translate}}
						<span class="required">*</span>
						<input type="text" name="name" size="35" ng-model="vm.singleClass.name" ng-required="true">
					</div>

					<div>{{"Description" | translate}}
						<textarea name="description" rows="3" cols="40" ng-model="vm.singleClass.description"></textarea>
					</div>

					<div>
						{{"CreatedBy" | translate}}:&#160;&#160;{{vm.singleClass.auditInfo.creator.display}} - {{vm.singleClass.auditInfo.dateCreated | date:'medium'}}
					</div>

					<div>
						<font color="#D0D0D0"><sub>UUID:&#160;&#160;</sub></font>
						<font color="#D0D0D0"><sub>{{vm.singleClass.uuid}}</sub></font>
					</div>

			</div>

			<div ng-show="vm.isError" id="error-message" class="note-container">
				<div class="note error">
					<div class="text">
						<i class="icon-ok medium"></i>
						<p>&#160;&#160;{{vm.responseMessage}}</p>
					</div>
				</div>
			</div>

			<div>

				<a class="button" type="submit" ng-disabled="classForm.$invalid" ng-click="vm.editClass()">
					<i class="icon-ok"></i>
					{{"ConceptClass.save" | translate}}
				</a>
				<a class="button" type="submit" ng-click="vm.cancel()">
					<i class="icon-remove"></i>
					{{"Concept.cancel" | translate}}
				</a>
			</div>
		</form>
	</div>
</div>