<openmrs-breadcrumbs links="vm.links"></openmrs-breadcrumbs>
<div id="body-wrapper">
	<div id="content" class="container">
	    <div ng-show="vm.sourceSaved" id="success-message" class="note-container">
            <div class="note success">
                <div class="text">
                    <i class="icon-ok medium"></i>                    
                        <p>&#160;&#160;"{{vm.sourceSaved}}" {{"Concept.hasBeenSaved" | translate}}.</p>
                </div>
            </div>
		</div>  
		
	    <div ng-show="vm.sourceDeleted" id="error-message" class="note-container">
            <div class="note error">
                <div class="text">
                    <i class="icon-trash medium"></i>                    
                        <p>&#160;&#160;"{{vm.sourceDeleted}}" {{"ConceptSource.purged" | translate}}.</p>
                </div>
            </div>
		</div>

		<button ng-click='vm.goTo("/source/add")'>
			<i class="icon-plus"></i>&#160;{{"ConceptSource.add" | translate}}
		</button>
		<br/>
		<br/>
		<delete-alert ng-show="vm.deleteClicked" on-update="vm.updateDeleteConfirmation(isConfirmed)"></delete-alert>
		
		<div class ="info-section" ng-show="!vm.deleteClicked">

			<form method="post" class="box" name="source-list">


					<table class="info-body">
						<tbody><tr>
							<th>{{"Name" | translate}}</th>
							<th>{{"ConceptSource.hl7Code" | translate}}</th>
							<th>{{"Description" | translate}}</th>
							<th>{{"Action" | translate}}</th>
						</tr>
						<tr ng-repeat="source in vm.sources | orderBy: 'retired'"  ng-class="{retired: source.retired}">
							<td valign="top">
								{{source.name}}
							</td>
							<td valign="top">{{source.hl7Code}}</td>
							<td valign="top">{{source.description}}</td>
							<td>
								<a href="#/source/{{source.uuid}}"><i class="icon-pencil edit-action" title="Edit"></i></a>
								<a ng-show="!source.retired" ng-click="vm.retire(source)">
									<i class="icon-remove delete-action" title="Delete"></i>
								</a>
								<a ng-show="source.retired" ng-click="vm.unretire(source)">
									<i class="icon-reply edit-action" title="Unretire"></i>
								</a>
								<a ng-click="vm.showAlert(source)">
									<i class="icon-trash delete-action right" title="Delete forever"></i>
								</a>
							</td>
						</tr>
						</tbody>
					</table>


			</form>
		</div>
	</div>
</div>