<!DOCTYPE html>
<html ng-app="conceptDictionaryApp" ng-strict-di>
<head>
    <title>Concept Dictionary Management</title>
    <!-- openmrs favicon -->
    <link rel="shortcut icon" type="image/ico" href="../../images/openmrs-favicon.ico"/>
    <link rel="icon" type="image/png" href="../../images/openmrs-favicon.png"/>
    <link rel="stylesheet" href="../uicommons/css/openmrs-refapp.css" type="text/css"/>

</head>
<header>
  	<div ng-controller="IndexController as vm">
		<openmrs-header title="vm.appTitle"></openmrs-header>
	</div>
</header>
<body>
<div ng-view></div>

<div ng-controller="IndexController as vm">
    <small>
        Choose language:
        <a ng-click="vm.changeLanguage('en')">English</a>,
        <a ng-click="vm.changeLanguage('es')">Spanish</a>
    </small>
</div>
<script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.11.1.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>