<!DOCTYPE html>
<html ng-app="conceptDictionaryApp">
<head>
    <title>Concept Dictionary Management</title>
    <!-- openmrs favicon -->
    <link rel="shortcut icon" type="image/ico" href="../../images/openmrs-favicon.ico"/>
    <link rel="icon" type="image/png" href="../../images/openmrs-favicon.png"/>

    <link rel="stylesheet" href="css/conceptdictionary.css" type="text/css"/>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- owa styles -->
    <link rel="stylesheet" href="../uicommons/css/openmrs-refapp.css" type="text/css"/>

</head>
<body>
<header>
    <div class="logo">
        <a href="../../">
            <img src="img/openmrs-with-title-small.png"/>
        </a>
    </div>
    <span class="app-title">Concept Dictionary</span>
</header>
<div ng-view></div>

<div ng-controller="IndexController as vm">
    <button ng-click="vm.changeLanguage('en')">English</button>
    <button ng-click="vm.changeLanguage('es')">Spanish</button>
</div>

<!-- bower:js -->
<!-- endbower -->
<!-- owa scripts -->
<script src="components/openmrs/openmrsRest.js"></script>
<script src="components/openmrs/openmrs.js"></script>

<script src="components/translateApp.module.js"></script>
<script src="components/conceptDictionaryApp.module.js"></script>

<script src="components/classList/classList.controller.js"></script>
<script src="components/classAdd/classAdd.controller.js"></script>
<script src="components/classEdit/classEdit.controller.js"></script>

<script src="components/sourceList/sourceList.controller.js"></script>
<script src="components/sourceEdit/sourceEdit.controller.js"></script>
<script src="components/sourceAdd/sourceAdd.controller.js"></script>

<script src="components/conceptStopWordList/conceptStopWordList.controller.js"></script>
<script src="components/conceptStopWordAdd/conceptStopWordAdd.controller.js"></script>

<script src="components/conceptSearch/conceptSearch.controller.js"></script>
<script src="components/conceptView/conceptView.controller.js"></script>
<script src="components/conceptAdd/conceptAdd.controller.js"></script> 

<script src="components/referenceSearch/referenceSearch.controller.js"></script>
<script src="components/referenceEdit/referenceEdit.controller.js"></script>
<script src="components/referenceAdd/referenceAdd.controller.js"></script>

<script src="components/datatypeDetails/datatypeDetails.controller.js"></script>
<script src="components/datatypeList/datatypeList.controller.js"></script>

<script src="components/drugList/drugList.controller.js"></script>
<script src="components/drugAdd/drugAdd.controller.js"></script>
<script src="components/drugEdit/drugEdit.controller.js"></script>

<script src="components/conceptAutocomplete/conceptAutocomplete.component.js"></script>
<script src="components/conceptTable/conceptTable.component.js"></script>
<script src="components/conceptUniqueName/conceptUniqueName.component.js"></script>

<script src="components/conceptsService/concepts.service.js"></script>

<script src="components/translateApp.module.js"></script>

<script src="components/index/index.controller.js"></script>
</body>
</html>