<openmrs-breadcrumbs links="vm.links"></openmrs-breadcrumbs>
<div id="body-wrapper">
	<div id="content" class="container">
		<h2>Add Concept Class</h2>

		<form method="post" name="class-add">
			<div class="info-body">
				<div>{{"Name" | translate}}<span class="required">*</span></div>
				<div>
					<input type="text" name="name" size="35" ng-model="vm.class.name" ng-required="true" value="">
				</div>
				<div>{{"Description" | translate}}</div>
				<div>
					<textarea name="description" rows="3" cols="40" ng-model="vm.class.description"></textarea>
				</div>
			</div>

			<div ng-show="vm.isError" id="error-message" class="note-container">
				<div class="note error">
					<div class="text">
						<i class="icon-remove medium"></i>
						<p>&#160;&#160;{{vm.responseMessage}}</p>
			<form method="post" name="classAdd">
				<div class="info-body">
					<div>{{"Name" | translate}}<span class="required">*</span></div>
					<div>
						<input type="text" name="name" size="35" ng-model="vm.class.name" ng-required="true" value="">
					</div>
					<div>{{"Description" | translate}}</div>
					<div>
						<textarea name="description" rows="3" cols="40" ng-model="vm.class.description"></textarea>
					</div>
				</div>
			</div>
				<div>
					<button class="button" ng-disabled="classAdd.$invalid" ng-click="vm.addClass()">
						<i class="icon-ok"></i>
						<strong>
							&#160;{{"ConceptClass.save" | translate}}
						</strong>
					</button>
					<button class="button" ng-click="vm.cancel()"><i class="icon-remove">
					</i>
						<strong>
							&#160;{{"Concept.cancel" | translate}}
						</strong>
					</button>
				</div>

		</form>
	</div>
</div>