<div class="container">
	<div class="dashboard clear">
		<div class="info-section">

			<div class="info-header">
				<h1>
					<strong><i class="icon-edit"></i>Concept Form</strong>
				</h1>
			</div>
			<form method="post">

				<table id="conceptTable">

					<tbody>
						<tr>
							<td title="The locale in which the concept name belongs ">

								<div class="info-header">
									<strong>Locale:&#160;&#160;</strong>

									<button class="localeButtons-repeat"
										ng-repeat="locale in vm.serverLocales"
										ng-click='vm.goLocale(locale)'>
										<small>{{locale}}</small>
									</button>
								</div>
								<div class="info-body">
									<ul>

										<li>
											<p class="left">
												Fully Specified Name<span class="required">*</span> <img
												class="help_icon" src="/openmrs/images/help.gif"
												title="The name to be used on forms, reports etc. in case no preferred name is set for the locale"
												border="0">
											</p>
											<p class="left">
												Preferred  <img class="help_icon"
												src="/openmrs/images/help.gif"
												title="Whether this name is the preferred name in its language and will be returned by default e.g on reports"
												border="0">
											</p>
											<div>
												<p class="left">
													<input class="one"
													ng-model="vm.selectedLocaleData.fullname.display" type="text">
												</p>
												<!-- belown code displays (radio button, help icon and label) as a completed preffered group -->
												<p class="left">
													<input name="preferred name"
													ng-model="vm.selectedLocaleData.preferredName"
													ng-value="vm.selectedLocaleData.fullname" type="radio">
												</p>
											</div>
										</li>
										<li>
											<div>
												    Synonyms <img class="help_icon_bottom"
													src="/openmrs/images/help.gif"
													title="Any label or name that refers to a primary concept."
													border="0">
											</div>

											<div id="ConceptSynonyms"
												ng-show="vm.selectedLocaleData.synonyms.length > 0"
												ng-repeat="synonym in vm.selectedLocaleData.synonyms">
												<p class="left">
													<input ng-model="synonym.display" type="text"> 
												</p>
												<p class="left">
													<input
													name="preferred name"
													ng-model="vm.selectedLocaleData.preferredName"
													ng-value="synonym" type="radio">
												</p>
												<p class="left">
													<a class="button cancel" valign="middle" ng-click="vm.deleteSynonym(synonym)" type="button"><i class="icon-remove"></i>Remove</a>
												</p>	
													
											</div> 
											
											<a class="button confirm"
											ng-click="vm.pushSynonyms()" valign="middle"><i class="icon-plus"></i>Add Synonym</a>
										</li>
										<li class="localeSpecific">
											<div valign="top">
												Search Terms <img class="help_icon_bottom"
													src="/openmrs/images/help.gif"
													title="An index term or phrase that might be used to search for this concept but that is not valid for display purposes or storing in the record (e.g., common misspellings or pragmatic mapping term)"
													border="0">
											</div>


											<div id="ConceptIndexTerm"
												ng-show="vm.selectedLocaleData.searchTerms.length > 0"
												ng-repeat="term in vm.selectedLocaleData.searchTerms">
												
												<p class="left">
													<input ng-model="term.display" value="" class="largeWidth" type="text">
												</p> 
												<p class="left">
													<input name="placeHolder" value=""
													style="visibility: hidden" type="radio">
												</p>
												<p class="left">
													<a class="button cancel"
														ng-click="vm.deleteSearchTerm(term)" type="button"><i class="icon-remove"></i>Remove</a>
												</p>	

											</div> 
											
											<a class="button confirm"
											ng-click="vm.pushSearchTerms()" type="button"><i class="icon-plus"></i>Add Search Term</a>


										</li>
										<li class="localeSpecific">
											<div>
												Short Name <img class="help_icon_bottom"
													src="/openmrs/images/help.gif"
													title="The text shown in report headers and other places where space is limited"
													border="0">
											</div> <input class="smallWidth"
											ng-model="vm.selectedLocaleData.shortname.display" type="text">



										</li>
										<li class="localeSpecific">
											<div>
												Description <img class="help_icon_top"
													src="/openmrs/images/help.gif"
													title="Longer body of text used to fully describe this concept and how it is used."
													border="0">
											</div> <textarea name="description"
												ng-model="vm.selectedLocaleData.description" rows="4"
												cols="50"></textarea>


										</li>
									</ul>
								</div>
							</td>
						</tr>

						<tr>
							<td>Class <img class="help_icon_bottom"
								src="/openmrs/images/help.gif"
								title="The classification of the medical concept" border="0">

								<select name="repeatClass" id="repeatClass"
								ng-model="vm.concept.conceptClass"
								ng-options="class.uuid as class.name for class in vm.classes">
							</select>
							</td>
						</tr>
						<tr>
							<td valign="top">Is Set <img class="help_icon"
								src="/openmrs/images/help.gif"
								title="Whether this concept is or not a set " border="0">

								<input type="checkbox" ng-model="vm.concept.set"
								name="conceptClassId">
							</td>
						</tr>

						<tr ng-show="vm.concept.set">
							<td>
								<p>Set Members</p>
								<concept-table on-update="vm.onSetMemberTableUpdate(concepts)"></concept-table>
							</td>														
						</tr>

						<tr>
							<td>Datatype <img class="help_icon"
								src="/openmrs/images/help.gif"
								title="If data is stored within this concept, this describes what it will look like"
								border="0"> <select name="repeatDatatype"
								id="repeatDatatype" ng-model="vm.concept.datatype"
								ng-change="vm.checkType()">
									<option ng-repeat="type in vm.datatypes" value="{{type.uuid}}">{{type.display}}</option>
							</select>
							</td>
						</tr>

						<tr ng-show='vm.isCoded'>
							<td valign="top">
								<p>Answers<img class="help_icon"
									id="tooltipCodedIcon" src="/openmrs/images/help.gif"
									title="Answer Concept(s) in case this concept is a question"
									border="0"></p>
									<concept-table on-update="vm.onAnswerTableUpdate(concepts)"></concept-table>								
							</td>
						</tr>

						<tr id="numericDatatypeRow">
							<td ng-show='vm.isNumeric' valign="top">
								<div class="info-header">
									<strong>Numeric</strong> <img class="help_icon"
										id="tooltipNumericIcon" src="/openmrs/images/help.gif"
										title="Numeric value ranges" border="0"> <small><em>(range
											values are inclusive)</em></small>
								</div>
								<table border="0">
									<tbody>
										<tr>
											<th valign="middle">Absolute High</th>
											<td valign="middle"><input name="hiAbsolute" value=""
												class="smallWidth" type="number"
												ng-model="vm.concept.hiAbsolute"></td>
										</tr>
										<tr>
											<th valign="middle">Critical High</th>
											<td valign="middle"><input name="hiCritical" value=""
												class="smallWidth" type="number"
												ng-model="vm.concept.hiCritical"></td>
										</tr>
										<tr>
											<th valign="middle">Normal High</th>
											<td valign="middle"><input name="hiNormal" value=""
												class="smallWidth" type="number"
												ng-model="vm.concept.hiNormal"></td>
										</tr>
										<tr>
											<th valign="middle">Normal Low</th>
											<td valign="middle"><input name="lowNormal" value=""
												class="smallWidth" type="number"
												ng-model="vm.concept.lowNormal"></td>
										</tr>
										<tr>
											<th valign="middle">Critical Low</th>
											<td valign="middle"><input name="lowCritical" value=""
												class="smallWidth" type="number"
												ng-model="vm.concept.lowCritical"></td>
										</tr>
										<tr>
											<th valign="middle">Absolute Low</th>
											<td valign="middle"><input name="lowAbsolute" value=""
												class="smallWidth" type="number"
												ng-model="vm.concept.lowAbsolute"></td>
										</tr>
										<tr>
											<th>Units</th>
											<td colspan="2"><input name="units" value=""
												class="mediumWidth" type="text" ng-model="vm.concept.units">


											</td>
										</tr>
										<tr>
											<th>Allow Decimal?</th>
											<td colspan="2"><input type="checkbox"
												ng-model="vm.concept.allowDecimal"></td>
										</tr>
										<tr ng-show="vm.concept.allowDecimal">
											<th>Display Precision</th>
											<td colspan="2"><input id="display_precision_textbox"
												name="displayPrecision"
												ng-model="vm.concept.displayPrecision" class="mediumWidth"
												type="number"></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>

						<tr ng-show="vm.isComplex" id="complexDatatypeRow">
							<td valign="top">Handler <img class="help_icon"
								id="tooltipComplexIcon" src="/openmrs/images/help.gif"
								title="Handlers for complex concept reponses e.g an x-ray image handler"
								border="0"> <select name="handlerKey"
								ng-options="handler as handler for handler in vm.handlers"
								ng-model="vm.concept.handler">
							</select>
							</td>
						</tr>

						<tr id="conceptMapRow">
							<td valign="top">Mappings <img class="help_icon"
								src="/openmrs/images/help.gif"
								title="Defines mappings from this concept to any number of other concept sources (ICD9, SNOMED, etc)"
								border="0">

								<table id="conceptMapTable" cellpadding="3" cellspacing="1">
									<tbody>
										<tr style="display: none;" id="headerRow"
											class="headerRow hideableEle">
											<th>Relationship</th>
											<th>Source</th>
											<th>Code</th>
											<th>Name</th>
											<th class="removeButtonCol">&nbsp;</th>
										</tr>

										<tr id="newConceptMapping" style="display: none">
											<td valign="top"><select name="type.name">


													<option value="1">SAME-AS</option>


													<option value="2">NARROWER-THAN</option>


													<option value="3">BROADER-THAN</option>


													<option value="4">Associated finding</option>


													<option value="5">Associated morphology</option>


													<option value="6">Associated procedure</option>


													<option value="7">Associated with</option>


													<option value="8">Causative agent</option>


													<option value="9">Finding site</option>


													<option value="10">Has specimen</option> 0
													<option value="11">Laterality</option>


													<option value="12">Severity</option>


											</select></td>
											<td valign="top"><select name="term.source">
													<option value="">Search all sources</option>


													<option value="1">SNOMED CT</option>


													<option value="2">SNOMED NP</option>


													<option value="3">ICD-10-WHO</option>


													<option value="4">RxNORM</option>


													<option value="5">RxNORM Comb</option>


													<option value="6">LOINC</option>


													<option value="11">PIH</option>


													<option value="12">PIH Malawi</option>


													<option value="13">AMPATH</option>


													<option value="14">SNOMED MVP</option>


													<option value="15">org.openmrs.module.mdrtb</option>


													<option value="18">HL7 2.x Route of Administration
													</option>


													<option value="19">3BT</option>


													<option value="20">ICPC2</option>


													<option value="21">CIEL</option>


													<option value="23">org.openmrs.module.emrapi</option>


													<option value="24">IMO ProblemIT</option>


													<option value="25">IMO ProcedureIT</option>


													<option value="27">NDF-RT NUI</option>


													<option value="28">FDA Route of Administration</option>


													<option value="29">NCI Concept Code</option>

											</select></td>
											<td valign="top"><input name="term.code" size="25"
												type="text"> <input name="termId" type="hidden">
											</td>
											<td><input name="term.name" size="25"
												readonly="readonly" type="text"></td>
											<td><input value="Remove" class="smallButton"
												onclick="removeParentElement(this.parentNode)" type="button">
											</td>
										</tr>

										<tr>
											<td colspan="3" valign="top" align="left"><input
												id="addMapButton" value="Add Mapping" class="smallButton"
												onclick="addConceptMapping(0)" type="button"></td>
											<td style="display: none;" class="hideableEle" align="right">

												<input class="smallButton" value="Create New Term"
												onclick="javascript:$j('#create-new-term-dialog').dialog('open')"
												type="button">

											</td>
											<td></td>
										</tr>

									</tbody>
								</table>
							</td>
						</tr>

						<tr>
							<td>Version <img class="help_icon_bottom"
								src="/openmrs/images/help.gif"
								title="An optional way for you to keep track of which concepts came before others when changing/updating concepts"
								border="0"> <input class="smallWidth"
								name="concept.version" value="" type="text">
							</td>
						</tr>



					</tbody>
				</table>




				<div id="saveDeleteButtons" style="margin-top: 15px">

					<button ng-click="vm.postConcept()"><i class="icon-ok"></i><strong>&#160;Save Concept</strong></button> 
					<button ng-click=""><i class="icon-ok"></i><strong>&#160;Save and Continue</strong></button>
					<button ng-click=""><i class="icon-remove"></i><strong>&#160;Cancel</strong></button>


				</div>

			</form>
		</div>
	</div>
</div>








