<openmrs-breadcrumbs links="vm.links"></openmrs-breadcrumbs>
<div id="body-wrapper">
	<div id="content" class="container">
	
		<div ng-show="vm.added" id="success-message" class="note-container">
            <div class="note success">
                <div class="text">
                    <i class="icon-info-sign medium"></i>                    
                        <p>&#160;&#160;{{vm.added}}.</p>                    
                </div>
            </div>
		</div>   
		<div ng-show="vm.result.success===false" id="error-message" class="note-container">
            <div class="note error">
                <div class="text">
                    <i class="icon-remove medium"></i>                    
                        <p>&#160;&#160;{{vm.result.message}}.</p>                    
                </div>
            </div>
		</div>
		<h2><i class="icon-plus"></i>{{"Concept.title" | translate}}</h2>
		<form method="post">
			<label>{{"Locale" | translate}}:&#160;&#160;</label>

			<div class="button-group">
				<label class="button localeButtons-repeat"
					ng-repeat="locale in vm.serverLocales"
					ng-click="vm.goLocale(locale)"
					ng-class="{active: vm.selectedLocale===locale}">
					{{locale}}
				</label>
			</div>
			<br/>
			<table>
				<thead>
					<tr>
						<th>Names in {{vm.selectedLocale}}</th>
						<th>Preferred</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{{"Concept.fullySpecifiedName" | translate}}<span class="required">*</span>
							<concept-unique-name
								required="true"
								concept='vm.selectedLocaleData.fullname'
								on-update='vm.onFullnameUpdate(isCorrect, name, suggestions)'>
							</concept-unique-name>
						</td>
						<td>
							<input name="preferred name"
								   ng-model="vm.selectedLocaleData.preferredName"
								   ng-value="vm.selectedLocaleData.fullname" type="radio">
						</td>
						<td></td>
					</tr>

					<tr ng-repeat="synonym in vm.selectedLocaleData.synonyms">
						<td>
							{{"Concept.synonyms" | translate}}
							<input ng-model="synonym.display" type="text" />
						</td>
						<td>
							<input
									name="preferred name"
									ng-model="vm.selectedLocaleData.preferredName"
									ng-value="synonym" type="radio">
						</td>
						<td><a valign="middle" ng-click="vm.deleteSynonym(synonym)">
							<i class="icon-remove"></i>{{"Remove" | translate}}
						</a></td>
					</tr>

					<tr>
						<td colspan="3">
							<a class="button confirm"
							   ng-click="vm.pushSynonyms()" valign="middle">
								<i class="icon-plus"></i>{{"Concept.synonym.add" | translate}}
							</a>
						</td>
					</tr>

					<tr ng-repeat="term in vm.selectedLocaleData.searchTerms">
						<td>
							{{"Concept.indexTerms" | translate}}
							<input ng-model="term.display" value="" class="largeWidth" type="text">
						</td>
						<td></td>
						<td>
							<a ng-click="vm.deleteSearchTerm(term)">
							<i class="icon-remove"></i>{{"Remove" | translate}}
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<a class="button confirm"
							   ng-click="vm.pushSearchTerms()" type="button">
								<i class="icon-plus"></i>{{"Concept.indexTerm.add" | translate}}
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<ul>
				<li class="localeSpecific" ng-show="vm.selectedLocaleData.fullname.display.length>0">
					<div>
						{{"Concept.shortName" | translate}} <img class="help_icon_bottom"
							src="/openmrs/images/help.gif"
							title="The text shown in report headers and other places where space is limited"
							border="0">
					</div> <input class="smallWidth"
					ng-model="vm.selectedLocaleData.shortname.display" type="text">



				</li>
				<li class="localeSpecific" ng-show="vm.selectedLocaleData.fullname.display.length>0">
					<div>
						{{"Description" | translate}} <img class="help_icon_top"
							src="/openmrs/images/help.gif"
							title="Longer body of text used to fully describe this concept and how it is used."
							border="0">
					</div> <textarea name="description"
						ng-model="vm.selectedLocaleData.description" rows="4"
						cols="50"></textarea>


				</li>
			</ul>

			<label>{{"Concept.conceptClass" | translate}} <img class="help_icon_bottom"
					src="/openmrs/images/help.gif"
					title="The classification of the medical concept" border="0"></label>

					<select name="repeatClass" id="repeatClass"
					ng-model="vm.concept.conceptClass"
					ng-options="class.uuid as class.name for class in vm.classes">
				</select>

			<label>{{"Concept.set" | translate}} <img class="help_icon"
					src="/openmrs/images/help.gif"
					title="Whether this concept is or not a set " border="0">
			</label>
			<input type="checkbox" ng-model="vm.concept.set" name="conceptClassId" />

			<div class="clear"></div>

			<div ng-show="vm.concept.set">
				<label>{{"Concept.conceptSets" | translate}}</label>
				<concept-table on-update="vm.onSetMemberTableUpdate(concepts)"></concept-table>
			</div>

			<div class="clear"></div>

			<label>{{"Concept.datatype" | translate}} <img class="help_icon"
					src="/openmrs/images/help.gif"
					title="If data is stored within this concept, this describes what it will look like"
					border="0"/>
			</label>

			<select name="repeatDatatype"
					id="repeatDatatype" ng-model="vm.concept.datatype"
					ng-change="vm.checkType()">
						<option ng-repeat="type in vm.datatypes" value="{{type.uuid}}">{{type.display}}</option>
			</select>

			<div ng-show='vm.isCoded'>
				<label>{{"Concept.answers" | translate}}<img class="help_icon"
						id="tooltipCodedIcon" src="/openmrs/images/help.gif"
						title="Answer Concept(s) in case this concept is a question"
						border="0">
				</label>
				<concept-table on-update="vm.onAnswerTableUpdate(concepts)"></concept-table>
			</div>

			<br/>

			<fieldset id="numericDatatypeRow" ng-show='vm.isNumeric'>
				<small><em>({{"ConceptNumeric.inclusive" | translate}})</em></small>

				<label>{{"ConceptNumeric.absoluteHigh" | translate}}</label>
				<input name="hiAbsolute" value=""
					   class="smallWidth" type="number" step="any"
					   ng-model="vm.concept.hiAbsolute">

				<label>{{"ConceptNumeric.criticalHigh" | translate}}</label>
				<input name="hiCritical" value=""
					   class="smallWidth" type="number" step="any"
					   ng-model="vm.concept.hiCritical" />

				<label>{{"ConceptNumeric.normalHigh" | translate}}</label>
				<input name="hiNormal" value=""
					   class="smallWidth" type="number" step="any"
					   ng-model="vm.concept.hiNormal"/>

				<label>{{"ConceptNumeric.normalLow" | translate}}</label>
				<input name="lowNormal" value=""
					   class="smallWidth" type="number" step="any"
					   ng-model="vm.concept.lowNormal">

				<label>{{"ConceptNumeric.criticalLow" | translate}}</label>
				<input name="lowCritical" value=""
					   class="smallWidth" type="number" step="any"
					   ng-model="vm.concept.lowCritical" />

				<label>{{"ConceptNumeric.absoluteLow" | translate}}</label>
				<input name="lowAbsolute" value=""
					   class="smallWidth" type="number" step="any"
					   ng-model="vm.concept.lowAbsolute">

				<label>{{"ConceptNumeric.units" | translate}}</label>
				<input name="units" value=""
						class="mediumWidth" type="text" ng-model="vm.concept.units">

				<label>{{"ConceptNumeric.allowDecimal" | translate}}</label>
				<input type="checkbox" ng-model="vm.concept.allowDecimal"/>

				<div class="clear"/>

				<label>{{"ConceptNumeric.displayPrecision" | translate}}</label>
				<input name="displayPrecision" value=""
					   class="smallWidth" type="number" step="any"
					   ng-model="vm.concept.displayPrecision">
			</fieldset>

			<div ng-show="vm.isComplex" id="complexDatatypeRow">
				<label>{{"ConceptComplex.handler" | translate}} <img class="help_icon"
					id="tooltipComplexIcon" src="/openmrs/images/help.gif"
					title="Handlers for complex concept reponses e.g an x-ray image handler"
					border="0">
				</label>
				<select name="handlerKey"
					ng-options="handler as handler for handler in vm.handlers"
					ng-model="vm.concept.handler">
				</select>
			</div>

			<div class="clear"/>

			<label>Version <img class="help_icon_bottom"
					src="/openmrs/images/help.gif"
					title="An optional way for you to keep track of which concepts came before others when changing/updating concepts"
					border="0">
			</label>
			<input class="smallWidth"
					name="concept.version" value="" type="text">

			<div id="saveDeleteButtons" style="margin-top: 15px">

				<button ng-disabled="!vm.isFormValid" ng-click="vm.postConcept()"><i class="icon-ok"></i><strong>&#160;{{"Concept.save" | translate}}</strong></button>
				<button ng-disabled="!vm.isFormValid" ng-click="vm.postConceptAndContinue()""><i class="icon-ok"></i><strong>&#160;{{"Concept.saveAndContinue" | translate}}</strong></button>
				<a class = "button" href="#/concept/"><i class="icon-remove"></i><strong>&#160;{{"Concept.cancel" | translate}}</strong></a>

			</div>
		</form>
	</div>
</div>








