<openmrs-breadcrumbs links="vm.links"></openmrs-breadcrumbs>
<div id="body-wrapper">
    <div id="content" class="container">
        <h2>Add Concept Stop Word</h2>
        <form>
            <label>
            {{"Name" | translate}}<span class="required">*</span>
            </label>
            <input type="text" name="name" size="35" ng-model="vm.conceptStopWord.value" ng-required="true"
                   value=""/>
            <label>
                Locale
            </label>
            <select
                    ng-required="true"
                    ng-model="vm.conceptStopWord.locale"
                    ng-options="serverLocale as serverLocale for serverLocale in vm.serverLocales track by serverLocale">
            </select>
        </form>
        <br>
        <button ng-disabled="!(vm.conceptStopWord.locale)" ng-click="vm.addConceptStopWord()">
            <i class="icon-ok"></i>
                &#160;{{"ConceptStopWord.save" | translate}}
        </button>
        <button ng-click="vm.cancel()">
            <i class="icon-remove"></i>
                &#160;{{"Concept.cancel" | translate}}
        </button>
    </div>
</div>