<openmrs-breadcrumbs links="vm.links"></openmrs-breadcrumbs>
<div id="body-wrapper">
	<div id="content" class="container">
		<div ng-show="vm.classAdded" id="success-message" class="note-container">
			<div class="note success">
				<div class="text">
					<i class="icon-ok medium"></i>
					<p>&#160;&#160;{{vm.classAdded}} {{"ConceptClass.saved" | translate}}.</p>
				</div>
			</div>
		</div>
		<a href="#/class/add"><button>{{"ConceptClass.add" | translate}}</button></a>
		<br/><br/>
		<openmrs-list resource="vm.resource" columns="vm.columns" actions="vm.actions" limit="vm.limit"></openmrs-list>
	</div>
</div>