<div class="container">
	<div class="dashboard clear">
<openmrs-breadcrumbs links="vm.links"></openmrs-breadcrumbs>

		<div ng-show="vm.classAdded" id="success-message" class="note-container">
            <div class="note success">
                <div class="text">
                    <i class="icon-ok medium"></i>                    
                        <p>&#160;&#160;{{vm.classAdded}} {{"Concept.hasBeenSaved" | translate}}.</p>
                </div>
            </div>
		</div>                     
	
		<div class="container">
			<div class ="info-section">
				<div class="info-header"><h1><strong><i class="icon-cogs"></i>{{"ConceptClass.title" | translate}}</strong></h1></div>
					
				<form method="post" name="class-list">
					<div class="info-body">		
						<ul>
							<li ng-repeat="class in vm.classes"> 
										<div>
											<input class="top" type="checkbox" ng-change="vm.refreshButtonState()" ng-model="vm.selected[class.uuid]" name="conceptClassId" value="{{class.uuid}}">
										
											<p><a href="#/class/{{class.uuid}}"><strong>{{class.name}}</strong></a></p>
										
											<small>{{class.description}}</small>
										</div>				
							</li>
						</ul>	
					</div>
					<div>
						<a class="button" ng-click='vm.goTo("/class/add")'><i class="icon-plus"></i><strong>&#160;&#160;{{"ConceptClass.add" | translate}}</strong></a>
						<a class="button" type="submit" ng-disabled="!(vm.isSelected)" ng-click="vm.deleteSelected()"><i class="icon-remove"></i><strong>&#160;{{"ConceptClass.delete" | translate}}</strong></a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>